    /* UNDER CONSTRUCTION */
    
    .nav{
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 15vw;
 
    height: 100vh;
    background-color:#474747;
    }      

    .nav-link{
        background-color: #474747;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        color:white;
        
    }
    .nav-link:hover{
        color:white;
    }

    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        color: #fff;
        background-color: #1f1f1f;
        border-radius: 0px;
    }
    
    .selectButton{
        padding-bottom: 2rem;
        background-color: #1f1f1f;
    }

    .selectButton .btn{
        margin-top: 0.8rem;
        width: 80%;
        height: 3rem;
        
    }

